:root {
  --bg: #141F1F;
  --surface: #1F2E2E;
  --hSurface: #293d3d;
  --text: #e6eef8;
  --accentJ: #d4302f;
  --accentC: #c9a66b;
  --accentN: #23a6a6;
  --accentE: #81e3ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--text);
  font-weight: 500;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(270deg, var(--bg) 50%, #1c2c2c);
}

nav {
  top: 10px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

nav ul {
  display: flex;
  list-style: none;
  background-color: var(--surface);
  gap: 5px;
  border-radius: 50px;
  font-size: 18px;
  border: 1px solid #2c616d;
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans JP", sans-serif;
}

h2 {
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 800;
}

h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

h4 {
  font-size: 22px;
  font-weight: 600;
}

strong, span {
  font-weight: 800;
}

.button {
  cursor: pointer;
  padding: 9px 27px;
  background-color: #224d57;
  color: #b8f5ff;
  font-size: 17px;
  border: 1px solid #2c616d;
  box-shadow: 0px 0px 15px -4px #2b626e;
  border-radius: 10px;
  transition: all ease-in-out .2s;
  margin-top: 30px;
  white-space: nowrap;
}

.button:hover {
  background-color: var(--accentN);
}

/* Navigation bar */
nav ul li {
  z-index: 1000;
}

nav ul li a {
  padding: 13px 17px;
  display: block;
}

#hover-slider {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #398293;
  border-radius: 50px;
  transition: all ease-in-out .15s;
  box-shadow: 0px 0px 15px 2px #2b626e;
}

.nav-hamburger {
  display: none;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
  padding: 12px;
  background-color: #224d57;
  border: 1px solid #2c616d;
  box-shadow: 0px 0px 15px -4px #2b626e;
  border-radius: 20px;
  margin: 30px 30px 10px 0;
}

.nav-bar {
  height: 3px;
  border-radius: 5px;
  width: 25px;
  background-color: #b8f5ff;
  transition: all .3s ease-in-out;
}

@media (max-width: 768px) {
  .nav-hamburger {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    border-radius: 25px;
    align-items: center;
    font-size: 20px;
    opacity: 0;
    pointer-events: none;
    transition: .3s all ease-in-out;
  }

  nav ul.active {
    opacity: 1;
    pointer-events: auto;
    margin: 0 30px 0 0;
  }

  nav ul li a {
    padding: 14px 49px;
  }

  .nav-hamburger.active .nav-bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .nav-hamburger.active .nav-bar:nth-child(2) {
    opacity: 0;
  }

  .nav-hamburger.active .nav-bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  #hover-slider {
    border-radius: 25px;
    height: unset;
    opacity: 0;
  }

  #hover-slider.active {
    opacity: 1;
  }

  nav {
    right: 0;
    left: unset;
    transform: unset;
    top: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

/* HERO Section */
#hero {
  display: flex;
  padding: 200px 100px 50px;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

#hero-image {
  width: 400px;
  border-radius: 19px;
  mask-image: linear-gradient(135deg, white 70%, transparent);
}

.hero-visual-frame {
  border-radius: 30px;
  padding: 4px;
  background: linear-gradient(315deg, transparent 10%, var(--accentN));
}

.hero-visual-inside-frame {
  background: var(--bg);
  padding: 10px;
  border-radius: 28px;
  display: flex;
}

.hero-content-name {
  background: linear-gradient(315deg, var(--accentN), var(--accentE));
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.hero-content p {
  margin-top: 10px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.hero-content-1 {
  font-size: 50px;
}

.hero-content-2 {
  font-size: 30px;
}

@media (max-width: 1435px) {
  #hero-image {
    width: 350px;
  }

  .hero-content-1 {
    font-size: 40px;
  }

  .hero-content-2 {
    font-size: 25px;
  }
}

@media (max-width: 1030px) {
  .hero-visual {
    display: none;
  }

  .hero-content {
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-content-1 {
    font-size: 50px;
  }

  .hero-content-2 {
    font-size: 30px;
  }

  #hero {
    padding: 200px 40px 40px;
  }
}

@media (max-width: 490px) {
  #hero {
    padding: 200px 20px 20px;
  }
}

/* About me */
#about-me {
  display: flex;
  flex-direction: column;
  padding: 60px 22vw;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.about-me-cards-1 {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.about-me-card-1 {
  padding: 20px;
  background-color: var(--surface);
  border-radius: 20px;
  border: 1px solid #2c616d;
}

.about-me-cards-2 {
  display: flex;
  gap: 15px;
}

.about-me-card-2 {
  width: 50%;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--surface);
  border: 1px solid #2c616d;
}

@media (max-width: 1300px) {
  #about-me p {
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  #about-me p {
    font-size: 16px;
  }

  .about-me-cards-2 {
    flex-direction: column;
  }

  .about-me-card-2 {
    width: unset;
  }
}

@media (max-width: 655px) {
  #about-me {
    padding: 50px 10vw 200px;
  }
}

/* Projects */
#projects {
  display: flex;
  flex-direction: column;
  padding: 50px 22vw;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

#projects h3 {
  margin-bottom: 10px;
}

.project-sub-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 35px;
}

.project-sub-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.projects-grid-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
}

.projects-grid-2 {
  display: flex;
  gap: 20px;
}

.projects-grid-1 .project-card {
  width: 520px;
}

.projects-grid-2 .project-card {
  width: 50%;
}


.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--surface);
  border: 1px solid #2c616d;
  transition: 0.3s all ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
  border: 1px solid #4aa1b5;
}

.project-card h4 {
  transition: 0.3s all ease-in-out;
}

.project-card:hover h4 {
  color: #81d4f8;
}

.project-card-top {
  position: relative;
  padding: 0.5px;
}

.project-card-bottom {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.redirect-icon {
  width: 25px;
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.status {
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-left: 10px;
  margin-top: 10px;
}

.status p {
  padding-top: 6px;
  padding-bottom: 6px;
  color: black;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
}

.status-1 {
  clip-path: polygon(0 0, 100% 0, calc(100% - 12px) 100%, 0 100%);
  padding-right: 22px;
  padding-left: 14px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.status-2 {
  clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%);
  margin-left: -13px;
  padding-left: 22px;
  padding-right: 14px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.project-demo {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}


.tech-stack {
  display: flex;
  gap: 10px;
  list-style: none;
  flex-wrap: wrap;
}

.tech-stack li {
  border-radius: 15px;
  padding: 5px 10px;
  white-space: nowrap;
}

@media (max-width: 1320px) {
  .projects-grid-2 {
    flex-direction: column;
    width: fit-content;
  }

  .projects-grid-2 .project-card {
    width: 520px;
  }
}

@media (max-width: 930px) {
  .projects-grid-1 .project-card, .projects-grid-2 .project-card {
    width: 420px;
  }
}

@media (max-width: 570px) {
  .projects-grid-1 .project-card, .projects-grid-2 .project-card {
    width: 320px;
  }

  .project-card-bottom {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .projects-grid-1 .project-card, .projects-grid-2 .project-card {
    width: 300px;
  }
}

/* Contacts */
#contacts {
  display: flex;
  flex-direction: column;
  padding: 50px 22vw 200px;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

#contacts li a {
  width: inherit;
  height: inherit;
}

#contacts li {
  border-radius: 50%;
  border: 1px solid gray;
  padding: 5px;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px 0;
}
